body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0 auto;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media print {
  * {
    box-shadow: none !important;
  }
  .pagebreak {
    clear: both !important;
    page-break-after: always !important;
  }

  header,
  div[role=presentation],
  div[role=tooltip],
  .MuiTouchRipple-root,
  .PrivateSwipeArea-root {
    display: none !important;
  }

  .noprint {
    display: none !important;
  }

  
  b {
    white-space: nowrap !important;
  }

  .CardPanel{
    /* border: thin solid black */
    margin: 0 !important;
    padding: 0 !important;
  }

  .MuiGrid-container:not(.printpadding) {
    /* border: thin solid orange; */
    margin: 0 !important;
    padding: 0 !important;
  }

  .MuiGrid-item:not(.printpadding) {
    /* border: thin solid red; */
    margin: 0 2px !important;
    padding: 2px 0 !important;
  }

  .MuiTimeline-root {
    /* border: thin solid pink; */
    /* padding: 0 !important; */
    margin-bottom: -26px !important;
  }

  .print-flex-columns {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
  }

  .print-flex-columns ul {
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  .MuiDataGrid-row:nth-child(odd) .MuiDataGrid-cell {
    background-color: rgba(242, 242, 242, 0.1);
  }

  .MuiDataGrid-cell {
    color: #fff
  }
}

/* data grid MUI */
.MuiDataGrid-row:nth-child(odd) .MuiDataGrid-cell {
  background-color: rgba(242, 242, 242, 0.5);
}

.MuiDataGrid-cell {
  border: none !important;
  cursor: pointer;
}

.MuiDataGrid-cell:nth-child(1) {
  font-weight: 800 !important;
  text-transform: uppercase;
}

.MuiDataGrid-cell,
.MuiDataGrid-columnHeader {
  margin: 0 2px;
}

.main {
  overflow: auto;
  height: calc(100vh - 56px);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.suspense {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.last_div_list {
  position: fixed;
  bottom: 0;
  color: #fff;
  right: 15px;
  font-size: small;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 16px;
  height: 16px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.MuiDataGrid-root,
.MuiDataGrid-root input {
  color: 'inherit';
  font-size: 10px !important;
}

.app {
  min-height: calc(100vh - 64px) !important
}

@media (max-width: 600px) {
  .app {
    min-height: calc(100vh - 56px) !important
  }
}

.ch-max {
  height: calc(100vh - 48px) !important
}

.test-red {
  box-shadow: inset 1px 0px 0px indianred
    /* border: 1px dashed indianred */
}

.test-blue {
  /* border: 1px dashed rgb(92, 179, 205) */
  box-shadow: inset 0 0 3px blue;
}